.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

button.ui.button{
  margin: 20px;
}

div.ui.card{
  margin: 20px;
} 


p.bio {
  margin: 20px;
}

p.followers{
  margin: 10px 20px 10px 20px;
  color: grey;
}

p.username{
  margin: 5px;
  font-weight: bold;
}

